body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    height: 280px;
    text-align: center; 
  }
  
  .notes {
    display: flex;
    height: 100%;
}

.notes * {
    font-family: sans-serif;
}

.notes__sidebar {
    border-right: 2px solid #dddddd;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 100px;
}

.notes__add {
    background: #5ea9f0;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes__add:hover {
    background: #7cceee;
    transform: scale(1.05);
}

.notes__list-item {
    cursor: pointer;
}

.notes__list-item--active {
    font-weight: bold;
}

.notes__list-item {
    margin-bottom: 15px; 
}

.notes__small-title,
.notes__small-updated {
    padding: 10px;
}

.notes__small-title {
    font-size: 1.2em;
}

.notes__small-body {
    padding: 0 10px;
}

.notes__small-updated {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
}

.notes__title {
    font-size: 3em;
    font-weight: bold;
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
}

#home-btn {
    position: absolute;
    top: 10px;
    left: 540px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #home-btn:hover {
    background-color: #2980b9;
  }

  .context-menu {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.context-menu__item {
    padding: 8px 12px;
    cursor: pointer;
    background-color: rgb(212, 100, 100);
    color: white;
}

.context-menu__item:hover {
    background-color: #c77676;
}

.search-input {
    margin-top: -15px;
    margin-left: -7px;
    margin-bottom: 5px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}